.container-fillter {
    position: relative;
    max-width: 1320px;
    width: 100%;
    padding: 20px;
    margin: 0px auto;
}
  

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    color:  black;
}

button.active {
    background: rgb(126, 218, 245);
    color:  black;
}

/*---------------------------------------
 Card
---------------------------------------*/

.card {
    flex-basis: 400px;
    flex-grow: 1;
}

.card.hide {
    display: none;
}

.card_body {
    margin-top: 20px;
    padding: 15px 20px 20px;
}



